---
import Layout from '../layouts/Layout.astro';
---

<Layout title='About' description='Esta es la seccion que se llama About y muestra a que nos dedicamos y quienes somos'>
    <main>
        <section>

        </section>
        <section>

        </section>
    </main>
</Layout>