---
import Layout from '../layouts/Layout.astro';
import JuegosItem from '../components/JuegosItem.astro';

const JUEGOS = [
    {
        title: "Street Fighter III",
        description: "",
        img: "imgs/sfiii.avif",
        alt: "Street Fighter III",
    },
    {
        title: "Darkstalker",
        description: "",
        img: "imgs/darkstalker.avif",
        alt: "Darkstalker",
    },
    {
        title: "Golden Axe",
        description: "",
        img: "imgs/golden.avif",
        alt: "Golden Axe",
    },
];
---

<Layout title="Fighting Games" description="Los mejores Fighting Games">
    <main class="pt-12">
        <section class="flex flex-col items-center h-50">
            <h2 class="text-4xl text-[#e9c7a5] py-5 font-bold text-center">
                Clasicos Fighting Games de las Arcades
            </h2>
        </section>
        <section class="flex flex-col items-center justify-center">
            <article class="grid grid-cols-1 md:grid-cols-2 gap-3">
                {
                    JUEGOS.map((juegos) => {
                        return <JuegosItem {...juegos} />
                    })
                }
            </article>
        </section>
    </main>
</Layout>