---
import Layout from '../layouts/Layout.astro';
import JuegosItem from '../components/JuegosItem.astro';
import HeroJuegos from '../components/HeroJuegos.astro';

import { JUEGOS } from '../jsons/juegos.json';
---

<Layout title="Fighting Games" description="Los mejores Fighting Games">
    <main class="pt-12">
        <HeroJuegos title="Fighting" description="Domina la arena con los clasicos de la lucha"/>
        <section class="flex flex-col items-center justify-center">
            <article class="grid grid-cols-1 md:grid-cols-2 gap-3">
                {
                    JUEGOS.filter((juego) => juego.genre === 'Fighting')
                    .map((juego) => (
                         <JuegosItem {...juego} />
                    ))
                }
            </article>
        </section>
    </main>
</Layout>