---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
---

<Layout
---

<Layout title="Portal Games" >
	<main class="m-5 rounded-md bg-slate-100 flex flex-col">
		<Hero/>
		<Card/>
	</main>
</Layout>

<style>
</style>
