---
import Layout from "../layouts/Layout.astro";
import JuegosItem from "../components/JuegosItem.astro";
import HeroJuegos from "../components/HeroJuegos.astro";

import { GENRES } from "../jsons/juegos.json";
---

<Layout title="Run and Gun" description="Run and Gun">
    <main class="pt-12">
        <HeroJuegos
            title="Run and Gun"
            description="¡Embárcate en una frenética carrera de balas y acción!"
        />
        <section class="flex flex-col items-center justify-center">
            <article class="grid grid-cols-1 md:grid-cols-2 gap-3">
                {
                    GENRES.map((genre) => {
                        if (genre.title === "Run and Gun" && genre.JUEGOS)
                            return genre.JUEGOS.map((juego) => (
                                <JuegosItem {...juego} />
                            ));
                    })
                }
            </article>
        </section>
    </main>
</Layout>
