---
import Layout from '../layouts/Layout.astro';
import JuegosItem from '../components/JuegosItem.astro';
import HeroJuegos from '../components/HeroJuegos.astro';

const articles = [
    {
        title: "Sunset Riders",
        description: "",
        img: "imgs/sunset.avif",
        alt: "Final Fight",
    },
    {
        title: "Metal Slug X",
        description: "",
        img: "imgs/metalx.avif",
        alt: "Turtles Ninja",
    },
    {
        title: "Golden Axe",
        description: "",
        img: "imgs/golden.avif",
        alt: "Golden Axe",
    },
];
---

<Layout title='Run and Gun' description='Run and Gun'>
    <main class="pt-12">
        <HeroJuegos title='Run and Gun' description='¡Embárcate en una frenética carrera de balas y acción!'/>
        <section class="flex flex-col items-center justify-center">
            <article class="grid grid-cols-1 md:grid-cols-2 gap-3">
                {
                    articles.map((articles) => {
                        return <JuegosItem {...articles} />
                    })
                }
            </article>
        </section>
    </main>
</Layout>