---
import Layout from '../layouts/Layout.astro';
import JuegosItem from '../components/JuegosItem.astro';
import HeroJuegos from '../components/HeroJuegos.astro';

const JUEGOS = [
    {
        title: "Aero Fighters",
        description: "",
        img: "imgs/finals.avif",
        alt: "Final Fight",
    },
    {
        title: "Teenage Mutant Ninja Turtles",
        description: "",
        img: "imgs/turtles.avif",
        alt: "Turtles Ninja",
    },
    {
        title: "Golden Axe",
        description: "",
        img: "imgs/golden.avif",
        alt: "Golden Axe",
    },
];
---

<Layout title="Beat'em Up" description="Beat'em Up">
    <main class="pt-12">
        <HeroJuegos title="Shoot'em Up" description="¡Libera un vendaval de balas y enfrenta el caos enérgico!"/>
        <section class="flex flex-col items-center justify-center">
            <article class="grid grid-cols-1 md:grid-cols-2 gap-3">
                {
                    JUEGOS.map((juegos) => {
                        return <JuegosItem {...juegos}/>
                    })
                }
            </article>
        </section>
    </main>
</Layout>