---
import Layout from '../layouts/Layout.astro';
import JuegosItem from '../components/JuegosItem.astro';
import HeroJuegos from '../components/HeroJuegos.astro';

import { JUEGOS } from '../jsons/juegos.json';
---

<Layout title="Shoot'em Up" description="Los mejores Fighting Games">
    <main class="pt-12">
        <HeroJuegos title="Shoot'em Up" description="¡Libera un vendaval de balas y enfrenta el caos enérgico!"/>
        <section class="flex flex-col items-center justify-center">
            <article class="grid grid-cols-1 md:grid-cols-2 gap-3">
                {
                    JUEGOS.filter((juego) => juego.genre === 'Shoot\'em Up')
                    .map((juego) => (
                     <JuegosItem {...juego} />
                    ))
                }
            </article>
        </section>
    </main>
</Layout>