---
import GenresItem from "./GenresItem.astro";

import {GENRES} from "../../juegos.json";
---

<section id="genres" class="flex flex-col items-center justify-center">
    <article class="grid grid-cols-1 md:grid-cols-2 gap-3 ">
        {
            GENRES.map((genre) => (
                 <GenresItem {...genre} />
            ))
        }
    </article>
</section>
