<header
    class="flex m-5 p-5 rounded-md items-center font-medium bg-gray-800 text-white justify-between"
>
    <div class="flex items-center w-full">
        <img class="w-12 mx-5" src="imgs/portal.avif" alt="" />
        <h1 class="md:text-2xl">Portal Games</h1>
    </div>
    <div class="flex mr-5 w-full justify-end">
        <nav class="flex">
            <ul class="flex gap-5">
                <li class="relative group">
                    <a href="#">Historia</a>
                    <ul class="absolute hidden group-hover:block bg-gray-800 shadow-md py-2 transition-all rounded-md">
                        <li><a href="#" class="block px-4 py-2 hover:bg-gray-700">Nintendo</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-gray-700">Sony</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-gray-700">Sega</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-gray-700">Xbox</a></li>
                        <li><a href="#" class="block px-4 py-2 hover:bg-gray-700">PC</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</header>
