
<header
    class="fixed top-0 z-10 flex justify-center items-center w-full mt-2 mx-aut"
>
    <nav class="flex px-3 py-2 rounded-ful text-[#e9c7a5] border-solid border-2 border-[#e9c7a5] gap-x-10 opacity-75">
        <a class="hover:text-[#fd6043]" href="/">Inicio</a>
        <a class="hover:text-[#fd6043]" href="/#genres">Generos</a>
        <a class="hover:text-[#fd6043]" href="#">Arcades</a>
    </nav>
</header>