
<header
    class="fixed top-0 z-10 flex justify-center items-center w-full mt-2 mx-aut"
>
    <nav class="flex px-3 py-2 rounded-ful bg-[#343834] text-[#e9c7a5] border-solid border-2 border-[#f] gap-x-10 opacity-75">
        
        <a class="hover:text-[#fd6043]" href="index">Inicio</a>
        <a class="hover:text-[#fd6043]" href="index/#genres">Generos</a>
        <a class="hover:text-[#fd6043]" href="#">Arcades</a>
    </nav>
</header>