<section class="flex flex-col items-center h-50">
    <h2 class="md:text-4xl text-gray-700 py-5 font-bold text-center">
        Ultimas Noticias del mundo de los videojuegos
    </h2>
    <div class="m-5 md:w-3/4 flex flex-wrap justify-center">
        <img class="rounded-md" src="imgs/fondo.avif" alt="">
    </div>
</section>
