---
interface Props {
	title: string;
	description?: string;
}

const { title } = Astro.props;

//Componentes:
import Header from "../components/Header.astro"
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="{description}" />
		<link rel="icon" type="image/svg+xml" href="/portal.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap"
			rel="stylesheet"
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<slot class="py-16"/>
	</body>
</html>
<style>
	:root {
           background-color: #3e433e;
        }
	
	html {
		scroll-behavior: smooth;
	}	

	body {
		font-family: "Pixelify Sans", sans-serif;
	}
</style>
