---
import Layout from "../../layouts/Layout.astro";
import HeroJuegos from "../../components/HeroJuegos.astro";
import JuegosItem from "../../components/JuegosItem.astro";

import { GENRES } from '../../../juegos.json'


const { genero } = Astro.params

let juegos
if (genero) {
    juegos = GENRES.find(genre => genre.genre === genero)
}


---

<Layout title=`${genero}` description=`Disfruta conociendo y jugando los mejores ${genero}`>
    <main class="pt-12">
        <HeroJuegos title=`${juegos?.genre}` description={`${juegos?.description}`}/>
        <section class="flex flex-col items-center justify-center">
            <article class="grid grid-cols-1 md:grid-cols-2 gap-3">
                {
                    GENRES.map(genre => {
                        if (genre.genre === genero && genre.JUEGOS) {
                            return genre.JUEGOS.map(juego => (
                                <JuegosItem {...juego} />
                            ))
                        }
                    })
                }
            </article>
        </section>
    </main>
</Layout>
