---
import Layout from "../../layouts/Layout.astro";

import { GENRES } from '../../jsons/juegos.json'

export async function getStaticPaths() {
    return GENRES.map((genre) => ({
        params: { title: genre.title }
    }))
}

const { title } = Astro.params
---

<Layout title="Generos">
    <h1>Este es el genero: {title}</h1>
</Layout>