---
import Layout from "../../layouts/Layout.astro";
import HeroJuegos from "../../components/HeroJuegos.astro";
import JuegosItem from "../../components/JuegosItem.astro";

import { GENRES } from '../../../juegos.json'

export async function getStaticPaths() {
    return GENRES.map((genre) => ({
        params: { genero: genre.genre },
        props: { ...genre }
    }))
}

const { genero } = Astro.params
---

<Layout title={genero} description=`Los mejores ${genero}`>
    <main class="pt-12">
        <HeroJuegos title={genero} description={`Los mejores ${genero}`}/>
        <section class="flex flex-col items-center justify-center">
            <article class="grid grid-cols-1 md:grid-cols-2 gap-3">
                {
                    GENRES.map(genre => {
                        if (genre.genre === genero && genre.JUEGOS) {
                            return genre.JUEGOS.map(juego => (
                                <JuegosItem {...juego} />
                            ))
                        }
                    })
                }
            </article>
        </section>
    </main>
</Layout>
